%p#notice= notice

%p
  %b Request type:
  = @request.request_type
%p
  %b Requestor:
  = @request.requestor
%p
  %b Courthouse:
  = @request.courthouse
%p
  %b Deadline at:
  = @request.deadline_at
%p
  %b Slug:
  = @request.slug
